html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 55px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-envy {
    margin-bottom: 0px;
    height: 10%;
    max-height: 55px;
    display: inline-block;
}

.jumbotron-envy {
    background: initial;
    text-align: center;
    padding-top: 30px;
}

.container-envy {
    background-image: url(/images/mcg-bg1.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;
}

.well-envy {
    padding-top:10px;
    margin-bottom:0px;
    padding-bottom: 0px;
    background-color: rgba(248, 245, 240, 0.3);
    height: 100%;
    overflow: auto;
}

.row-envy {
  height:100%;
  /*margin-bottom: 30px;*/
  background: initial;
}

.row-envy:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}


.working-area-envy {
    background-color: rgba(233, 247, 248, 0.75);
    /*height:100%;*/
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(233, 247, 248, 0.99);
  text-align: center;
  /*display: inline-block;*/
}

.text-info, .text-info:hover {
    color:#66efd4;
}

.table-hover-envy > tbody:hover{
    background-color: #ecf0f1;
}

.form-control-condensed {
    width:initial;
}

.table caption {
    font-weight: bold;
    font-size: x-large;
    color:#3B70A1;
    text-align: center;
}

.table tr th {
    background-color: #fcf8e3;
    color: #BD7801;
}

.marginRight {
    margin-right: 30px;
}
/*
Referenced from ui.bootstrap
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.logo-main {
    width:auto;
    height: auto;
    max-width:70px;
}

/* start Password strength bar style */
.popover-envy {
    width:175px;
}

ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.flag {
  display: inline-block;
  width: 25px;
  height: 22px;
  line-height: 22px;
  /* vertical-align: text-top; */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 7px;
}
.flag-afganistan {
  background-image: url(/images/afganistan.png);
}
.flag-australia {
  background-image: url(/images/australia.png);
}
.flag-bangladesh {
  background-image: url(/images/bangladesh.png);
}
.flag-england {
  background-image: url(/images/england.png);
}
.flag-india {
  background-image: url(/images/india.png);
}
.flag-ireland {
  background-image: url(/images/ireland.png);
}
.flag-newzealand {
  background-image: url(/images/newzealand.png);
}
.flag-pakistan {
  background-image: url(/images/pakistan.png);
}
.flag-scotland {
  background-image: url(/images/scotland.png);
}
.flag-southafrica {
  background-image: url(/images/southafrica.png);
}
.flag-srilanka {
  background-image: url(/images/srilanka.png);
}
.flag-uae {
  background-image: url(/images/uae.png);
}
.flag-westindies {
  background-image: url(/images/westindies.png);
}
.flag-zimbabwe {
  background-image: url(/images/zimbabwe.png);
}
